html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.hidden {
  display: none;
}

#mobile {
  font-family: monospace;
  color: white;
  height: 40vh;
  margin: 10vh auto;
  text-align: center;
  width: 70vw;
}

#terminal {
  height: 99vh;
  margin: 0;
  padding: 1vh 0.6vw 0 0.6vw;
  width: 98.8vw;
}

.xterm .xterm-viewport{
  overflow-y: hidden;
}